<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css' rel='stylesheet' type='text/css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js' type='text/javascript'></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>


<div style="background-color: rgb(235, 231, 231); " *ngIf="false">
   <div class="container">
    <div class="row">
      <div class="col">
        <h1>Student Details</h1>
        <table  class="table mat-elevation-z8 table-striped margin-top" style="border: black;">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Age</th>
              <th>Gender</th>
              <th>DOB</th>
              <th>Degree</th>
              <th>Department</th>
              <th>Skills</th> 
            <th>Options</th></tr>
          </thead>
          <tbody *ngFor="let item of users;">
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.dob}}</td>
            <td>{{item.degree}}</td>
            <td>{{item.department}}</td>
            <td>{{item.skills}}</td>
            <td>
              <i class="fa fa-trash" onclick="return confirm('Are you sure want to delet?')" (click)="del(item)"></i>
              <i class="fa fa-pencil-square-o margin-left"(click)="edit(item)"></i>
            </td>
          </tr> </tbody>
        </table>
        <app-appcomponent></app-appcomponent>
      </div>
      <div class="col">
        <div class="card margin-top margin-bottom">
          <div class="card-body py-4 px-md-4">
            <form >
              
                <div class="form-outline mb-4">
                  <label class="form-label">
                    <strong>Name</strong></label>
                <input type="text" class="form-control "
                 [formControl]="name"></div>

                <div class="form-outline mb-4">
                  <label class="form-label">
                    <strong>Age</strong></label>
                <input type="number" class="form-control"
                [formControl]="age"></div>

             
              <div class="form-group mb-4">
                <label class="form-label">
                  <strong>Gender</strong></label>
               <div class="form-control" >
               
                 <label class="radio-inline">
                 <input type="radio" value="female" name="gender" [formControl]="gender">   Female
                    </label><br>
                     
                 <label class="radio-inline">
                 <input type="radio" value="male" name="gender"[formControl]="gender">    Male
                </label>
                
                </div>
              </div>
              
              <div class="form-group mb-4">
                <label class="form-label">
                  <strong>Date of Birth</strong></label>
                 <input type="date" class="form-control"[formControl]="dob">
                </div>
            
                <div class="form-group mb-4">
                <label class="input-label mb-2">
                  <strong>Degree</strong></label>
                <select class="form-select" [formControl]="degree">
                  <option >BSC</option>
                  <option >BCA</option>
                  <option >BCOM</option>
                  <option >MSC</option>
                  <option >MCA</option>
                  <option >BA</option>
                  <option >BE</option>

                </select>
              </div>

              <div class="form-group">
                <label class="input-label mb-2">
                  <strong>Department</strong></label>
                <select class="form-select mb-4" [formControl]="department" >
                  <option >Computer Science</option>
                  <option >Accountancy</option>
                  <option >Chemistry</option>
                  <option >Mathematics</option>
                  <option >IT Engineering</option>
                  <option >Computer application</option>
                  <option >English</option>
                  <option >physics</option>
                  <option >Microbiology</option>

                </select>
              </div>

              <div class="form-group">
                <label class="input-label mb-2">
                  <strong>Languages Known</strong></label>
              <div class="form-control">
                <label class="checkbox-inline" >
                <input class="form-check-input" type="checkbox" name="Languages" [formControl]="Englishskills">
                English
                </label><br>
               
                <label class="form-check-label" >
              <input class="form-check-input" type="checkbox"name="Languages" [formControl]="Tamilskills">
                 Tamil
                </label><br>
               
                 
                <label class="form-check-label" >
                  <input class="form-check-input" type="checkbox"name="Languages" [formControl]="Hindiskills">
                  Hindi </label><br>
                   
                  <label class="form-check-label" >
                    <input class="form-check-input" type="checkbox"name="Languages" [formControl]="otherskills">
                   other</label>
                  

              </div> </div>
<!--                 
             <div class="form-group">
                <label class="input-label mb-2">
                  <strong>Languages Known</strong></label>
                  <div class="form-control">
                   <div class="" *ngFor="let obj of skilllist;let i =index;">
                  
                 <input class="form-check-input" value="{{obj.value}}" 
                 (change)="skillchange($event)" [formControl]="skills" type="checkbox" >
                      <label class="checkbox-inline"  >{{obj.key}}
                    </label>

                   </div></div>
             </div> -->

            </form>
            <div class="margin-top">
            <button class="btn btn-success" *ngIf="btncreate" (click)="insert()">Create</button>
            <button class="btn btn-danger margin-left"  (click)="clear()">Cancel</button>
            <button class="btn btn-primary margin-left" *ngIf="btnupdate" (click)="update()">Update</button>
            
          </div>

          </div>
        </div>
      </div>
    </div>
   </div>
  
</div>  

<router-outlet></router-outlet>